:root {
    --header-background-color : #4582ec;
    --if-background-true-font-color: #ffffff;
    --footer-background-color : #efefef;
    --button1-background-color : #4582ec;
    --button2-background-color : #adb5bd;
    --button3-background-color : #01b875;
    --button4-background-color : #19a1b8;
}

body {
    margin: 0 10px;
}

.header {
    background-color: var(--header-background-color);
    color: var(--if-background-true-font-color);
    display: flex;
    align-items: center;
    padding: 0 1rem 0.3rem 1rem;
    margin: 0 0 1rem 0;
    font-size: 1.5em;
    height: 3.5rem;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-background-color);
    font-size: 1.3rem;
    height: 3rem;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* userProfile border color & padding setting */
.viewer-userProfile-container {
     margin: 1rem auto;
}
.viewer-userProfile-container > p {
    padding: 1rem 1rem;
    border: 1px solid var(--footer-background-color);
}
/* button background color & padding setting */
.viewer-button-container {
    display: block;
    flex-direction: row;
    align-content: space-between;
}
.viewer-button-container > button {
    color: var(--if-background-true-font-color);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.3rem;
}
.viewer-button-container > button:nth-child(1) {
    background-color: var(--button1-background-color);
}
.viewer-button-container > button:nth-child(2) {
    background-color: var(--button2-background-color);
}
.viewer-button-container > button:nth-child(3) {
    background-color: var(--button3-background-color);
}
.viewer-button-container > button:nth-child(4) {
    background-color: var(--button4-background-color);
}