:root {
    --header-background-color : #4582ec;
    --header-font-color: #ffffff;
    --footer-background-color : #f4f4f4;
}

body {
    margin: 0 10px;
}

.header {
    background-color: var(--header-background-color);
    color: var(--header-font-color);
    display: flex;
    align-items: center;
    padding: 0 1rem 0.3rem 1rem;
    margin: 0 0 1rem 0;
    font-size: 1.5em;
    height: 3.5rem;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-background-color);
    font-size: 1.3rem;
    height: 3rem;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}